sudo: required
language: ruby
branches:
  only:
    - master
services:
  - docker
script:
  - "rake $TASK"
env:
  - TASK=test:mtest
  - TASK=test:integration
  - TASK=test:benchmark
  - TASK=release:build
